///////////////////
/* Mobile Styles */
///////////////////

@media screen and (max-width: 768px) {
    .navbar-header {
        height: 100px;
        background: #ffffff;
        border-bottom: 1px solid $primary;
    }

    .navbar-header.shrink {
        height: 100px;
        margin: 0 auto;
        border-bottom: transparent;
    }
}

button.navbar-toggle {
    background: $primary;
    color: #ffffff;
    margin-top: 30px;
    border-radius: 100%;
	&:hover,
    &:focus,
    &:active {
        color: $primary;
    }
}

@media screen and (max-width: 768px) {
    div.customFitnesNav {
        
        ul {
            background: rgba(42,117,186,.4);
        }
    }   
}

div#customFitnessNav.navbar-collapse.collapse.in {
    margin-top: -11px;
    border-top: transparent;
    border-bottom: transparent;
}

div#customFitnessNav.navbar-collapse.collapse.in ul {
    position: relative;
    top: -20px;
    background: $primary;
    border-top: 1px solid darkblue;
    
    li {
        border-bottom: 1px solid darkblue;
        
        a {
            color: #ffffff;
        }
    }
}

#logoEmblem {
    transition: all .4s ease-out;
    width: 120px;
}

#logoEmblem.shrink {
    transition: all .4s ease-out;
    width: 100px;
}




////////////////////
/* Desktop Styles */
////////////////////

.navbar-default {
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    border-bottom: none;
    height: 120px;
    transition: all .4s ease-out;
}

nav.navbar-default.shrink {
    height: 90px;
    background: #ffffff;
    border-bottom: 1px solid $primary;
    transition: all .4s ease-out;
}

ul.nav.navbar-nav.navbar-right {
    transition: all .4s ease-out;
    margin-top: 30px;
}

ul.nav.navbar-nav.navbar-right.shrink {
    transition: all .4s ease-out;
    margin-top: 20px;
}

#logo {
    transition: all .4s ease-out;
    position: relative;
    display: block;
    width: 300px;
}

#logo.shrink {
    transition: all .4s ease-out;
    width: 225px;
}

#logoSml {
    transition: all .4s ease-out;
    width: 300px;
}

#logoSml.shrink {
    transition: all .4s ease-out;
    width: 250px;
}

a.navbar-brand {
    width: 300px;
}

